.card {
    border-color:black;
    border-style: solid;
    border-width: 2px;
    
}

.card-img-top{
    padding: 2em;
    max-height: 120px;
    max-width: 120px;
}

.btn {
 border-width: 2px;
 margin: 0 10px 0 10px;
}