<p>Profesionales de la salud</p>

<div class="professionals">
  <div class="row">
    <div class="col-12">
      <h3>Kinesiólogo</h3>
    </div>
    <div class="col-sm-6 col-12">
      <div class="card">
        <img class="card-img-top" href= "https://api.whatsapp.com/send?phone=569262873855&text=grupo%20fundacion" src="../assets/img/doctor.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Iván Tapia</h5>
          <p class="card-text">Clínica Las Condes</p>
          <p class="card-text">Isapre-Fonasa</p>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-success">Editar</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h3>Cirujano</h3>
    </div>
    <div class="col-sm-6 col-12">
      <div class="card">
        <img class="card-img-top" src="../assets/img/doctor.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Fernando Vuletin</h5>
          <p class="card-text">Hospital Uc Marcoleta</p>
          <p class="card-text">Isapre-Fonasa</p>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-success">Editar</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h3>Fisiatra</h3>
    </div>
    <div class="col-sm-6 col-12">
      <div class="card">
        <img class="card-img-top" src="../assets/img/doctor.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Loreto Diaz</h5>
          <p class="card-text">Clínica Alemana</p>
          <p class="card-text">Isapre-Fonasa-Particular</p>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-success">Editar</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h3>Neuróloga</h3>
    </div>
    <div class="col-sm-6 col-12">
      <div class="card">
        <img class="card-img-top" src="../assets/img/doctor.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Alicia Nuñez</h5>
          <p class="card-text">Neuróloga</p>
          <p class="card-text">Isapre-Fonasa-Particular</p>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-success">Editar</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h3>Broncopulmonar</h3>
    </div>
    <div class="col-sm-6 col-12">
      <div class="card">
        <img class="card-img-top" src="../assets/img/doctor.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Linus Holgrem</h5>
          <p class="card-text">Clínica Alemana</p>
          <p class="card-text">Isapre-Fonasa</p>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-success">Editar</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h3>Psicopedagoga</h3>
    </div>
    <div class="col-sm-6 col-12">
      <div class="card">
        <img class="card-img-top" src="../assets/img/doctor.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Orlandina Segovia</h5>
          <p class="card-text">Pediatría El Alba</p>
          <p class="card-text">Isapre-Fonasa</p>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-success">Editar</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h3>Terapeuta</h3>
    </div>
    <div class="col-sm-6 col-12">
      <div class="card">
        <img class="card-img-top" src="../assets/img/doctor.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Nicolleta Mangiola</h5>
          <p class="card-text">Uc Lira</p>
          <p class="card-text">Isapre-Fonasa-Particular</p>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-success">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="text-center py-4">© 2019 Copyright: OtrasMiradas </div>
</footer>