<div class="container">
    <div class="row">
        <div class="card w-100 mt-3">
            <div class="card-body mt-3 m-2">
                <h3 class="m-3"> Sobre Nosotros</h3>
                <img  class="img-fluid float-left m-3 mr-10" width="500" src="https://i.ibb.co/4Y8cg3v/family.jpg" alt="familias">
            </div>
            <div class="text-align: justify m-5 mr-5">
                <h4>¿Quiénes Somos?</h4>
                <br>
                <p>Fundación Otras Miradas, es una organización sin fines de lucro, formada en agosto de 2018 por un grupo de familias con hijos con necesidades educativas especiales pertenecientes al programa PIE (programa inclusión escolar) del Colegio Antártica Chilena de Vitacura.
                    En un comienzo éramos unas pocas madres que fuimos creando lazos con otras familias, cuidadores, profesionales en el tema, entre otros. </p>
            </div>
        </div>
        <div class="card w-100 mt-3">
            <div class="card-body mt-3 m-2">
                <h3 class="m-3"> Nuestra Misión </h3>
                <img  class="img-fluid float-left m-2 mr-10" width="700" src="https://i.ibb.co/w0WDcyt/activity2.png" alt="familias">
            </div>
            <div class="text-align: justify m-5 mr-5">
                <p>Nuestra misión es conocer, orientar y contener a las familias que conforman nuestra comunidad educativa con el fin de mejorar el desarrollo de nuestros niños, creando actividades educativas, artísticas, culturales, deportivas, formativas, de perfeccionamiento, de capacitación y recreativas. Además de gestionar subvenciones,subsidios o aportes de cualquier naturaleza a favor de los beneficiarios de la Fundación.</p>
            </div>
        </div>
        <div class="card w-100 mt-3">
            <div class="card-body mt-3 m-2">
                <h3 class="m-3"> Colaboradores </h3>
                <img  class="img-fluid float-left m-2 mr-10" width="700" src="https://i.ibb.co/VWxgQY8/colaboradores.png" alt="familias">
            </div>
            <div class="text-align: justify m-5 mr-5">
                <ul>
                    <h4>Nos Ayudan</h4>
                
                    <li>Familias de inclusión, madres, padres, abuelitos, hermanos, tíos, cuidadores y apoderados con hijos en el Pie.</li>
                    <li>Centro de Padres CACH / Fundación Creando Pienso / Grupo Parentabilidad Positiva.</li>
                    <li>Terapeutas y Médicos / Pediatría el alba, www.pediatriaelalba.cl / Nicoletta Mangiola, terapeuta ocupacional nmangiol@gmail.com / Ivan Tapia, kinesiologo, www.medphysique.cl</li>
                    <li>Empresas que maravillosamente creen en nuestras locas ideas. Witral lanas,www.witral.cl / Tortas MarjarNuez, www.manjarnuez.com / Timbres Tetimbro, instagram@tetimbro.</li>
                    <li>Consultorio Vitacura/ Cesfam Vitacura</li>
                    <li>Vitavecino, calle San Félix, Vitacura</li>
                    <li>Depto Sustentabilidad Municipalidad Vitacura</li>
                    <li>Depto Acción Social Municipalidad de Vitacura</li>
                    <li>Depto Discapacidad Municipalidad de las Condes</li>
                    <li>Depto Discapacidad Municipalidad de Coquimbo</li>
                </ul>
            </div>
        </div>
    </div>
</div>
