<form>
    <div>
    <label for="specialty">Nombre del especialista:</label>
    <select class="form-control form-control" #specialty id="specialty" (change)="onChange($event)">
        <option [value]="Broncopulmonar">Broncopulmonar</option>
        <option [value]="Cirujano">Cirujano</option>
        <option [value]="Fisiatra">Fisiatra</option>
        <option [value]="Fonoaudiologia">Fonoaudiologia</option>
        <option [value]="Genetista">Genetista</option>
        <option [value]="Infectologo">Infectologo</option>
        <option [value]="Kinesiologo">Kinesiologo</option>
        <option [value]="Neurologa">Neurologa</option>
        <option [value]="Psicologo">Psicologo</option>
        <option [value]="Psicopedagoga">Psicopedagoga</option>
        <option [value]="TerapeutaOcupacional">TerapeutaOcupacional</option>   
    </select>
</div>
    <div>
        <label for="specialist">Nombre del especialista:</label>
        <input type="text" class="form-control" id="specialist" placeholder="Ingresa el texto aquí...">
    </div>
    <div>
        <label for="workplace">Lugar de trabajo:</label>
        <input type="text" class="form-control" id="workplace" placeholder="Ingresa el texto aquí...">
    </div>
    <div>
        <label for="contact">Contacto:</label>
        <input type="text" class="form-control" id="contact" placeholder="Ingresa el correo/teléfono/etc...">
    </div>
    <div>
        <label for="ensurance">Previsión de salud que atiende:</label>
        <input type="text" class="form-control" id="ensurance" placeholder="Ingresa el correo/teléfono/etc...">
    </div>
    <div>
            <button class="btn btn-primary">Añadir</button>    
    </div>    
</form>

<input [value]="inputclient" #clientName type="text" class="form-control" aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-lg">