<form (ngSubmit)="addProfessional()">
  <div>
    <label for="specialty">Seleccione especilidad:</label>
    <select class="form-control form-control" name="specialty" (change)="onChange($event)">
      <option value="Broncopulmonar">Broncopulmonar</option>
      <option value="Cirugía">Cirugía</option>
      <option value="Fisiatría">Fisiatría</option>
      <option value="Fonoaudiología">Fonoaudiología</option>
      <option value="Genética Clínica">Genética Clínica</option>
      <option value="Infectología">Infectología</option>
      <option value="Kinesiología">Kinesiología</option>
      <option value="Neurología">Neurología</option>
      <option value="Psicología">Psicología</option>
      <option value="Psicopedagogía">Psicopedagogía</option>
      <option value="Terapia Ocupacional">Terapia Ocupacional</option>
    </select>
  </div>
  <div>
    <label for="specialist">Nombre del especialista:</label>
    <input type="text" #specialist class="form-control" name="specialist" [(ngModel)]="professional.specialist" placeholder="Ingresa el texto aquí..."/>
  </div>
  <div>
    <label for="workplace">Lugar de trabajo:</label>
    <input type="text" #workplace class="form-control" name="workplace" placeholder="Ingresa el texto aquí..."/>
  </div>
  <div>
    <label for="contact">Contacto:</label>
    <input type="text" #contact class="form-control" name="contact" placeholder="Ingresa el correo/teléfono/otro..."/>
  </div>
  <div>
    <label for="ensurance">Previsión de salud que atiende:</label>
    <input type="text" #ensurance class="form-control" name="ensurance" placeholder="Ingresa el texto aquí..."/>
  </div>
  <div>
    <button type="submit" class="btn btn-primary" (click)="
    addProfessional(specialist.value, workplace.value, contact.value, ensurance.value)">
      Añadir
    </button>
  </div>
</form>
