<div class="conditions">
    <div class="row">
        <div class="col-12 doc-group">
            <h4 class="m-3">Condiciones diagnosticadas</h4>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-auto">
                       
                    </div>
                    <div class="col">
                        <div class="card-body m-1">
                            <div class="col-12 doc-group1 justify-content: center">
                                <h5 class="m-2"> Deficit atencional</h5>
                            </div>
                            <img src="../../../assets/img/deficitatencional.jpg" class="card-img-top mt-2" alt="...">
                            <!-- <h5 class="card-title">Deficit atencional y/o Hiperactividad</h5> -->
                            <p class="card-text m-2 mt-3">El trastorno por déficit de atención e hiperactividad, o TDAH, es un trastorno que hace que sea 
                                extraordinariamente difícil para los niños el concentrarse en tareas, prestar atención, estarse quietos, y controlar 
                                el comportamiento impulsivo</p>
                            <a href="https://www.webconsultas.com/search/node/hiperactividad" target="_blank" class="btn btn-light float-right btn-sm ml-auto mr-3">Ver más...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-auto">
                    </div>
                    <div class="col">
                        <div class="card-body m-1">
                            <div class="col-12 doc-group1">
                                <h5 class="m-2 ">Transtorno del espectro autista</h5>
                            </div>
                            <img  src="../../../assets/img/autista.jpg" class="card-img-top mt-2" alt="...">
                            <!-- <h5 class="card-title">Transtorno del espectro autista</h5> -->
                            <p class="card-text m-2 mt-3">El autismo es un desorden que afecta el desarrollo neurológico de un niño. 
                                Los niños con autismo severo normalmente se identifican antes de los 2 años de edad, mientras que 
                                los niños con autismo más leve-autismo con buen funcionamiento, y syndrome de Asperger-pueden ser 
                                identificados a veces hasta que son adultos.</p>
                            <a href="https://www.webconsultas.com/search/node/autismo" target="_blank" class="btn btn-light float-right btn-sm ml-auto mr-3">Ver más...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-auto">
                    </div>
                    <div class="col">
                        <div class="card-body m-1">
                            <div class="col-12 doc-group1">
                                <h5 class="m-2 ">Epilepsia</h5>
                            </div>
                                <img src="../../../assets/img/epilepsia.jpg" class="card-img-top mt-2" alt="...">
                            <!-- <h5 class="card-title">Epilepsia</h5> -->
                            <p class="card-text m-2 mt-3">La epilepsia es un trastorno cerebral en el cual una persona tiene convulsiones repetidas 
                                durante un tiempo. Las crisis convulsivas son episodios de actividad descontrolada y anormal de las neuronas 
                                que puede causar cambios en la atención o el comportamiento.</p> 
                            <a href="https://www.webconsultas.com/search/node/epilepsia" target="_blank" class="btn btn-light float-right btn-sm ml-auto mr-3">Ver más...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-auto">
                    </div>
                    <div class="col">
                        <div class="card-body m-1">
                            <div class="col-12 doc-group1">
                                <h5 class="m-2 ">Sindrome de Down</h5>
                            </div>
                            <img  src="../../../assets/img/down.jpg" class="card-img-top mt-2 mt-2" alt="...">
                            <!-- <h5 class="card-title">Sindrome de Down</h5> -->
                            <p class="card-text m-2 mt-3">El síndrome de Down es un trastorno genético ocasionado 
                                cuando una división celular anormal produce material genético adicional del cromosoma 21.
                                El síndrome de Down se caracteriza por una apariencia física típica, discapacidad intelectual 
                                y retrasos en el desarrollo. Además, puede estar asociado con enfermedades cardíacas o de la 
                                glándula tiroides.</p>
                            <a href="https://www.webconsultas.com/categoria/salud-al-dia/sindrome-de-down" target="_blank" class="btn btn-light float-right btn-sm ml-auto mr-3">Ver más...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-auto">
                    </div>
                    <div class="col">
                        <div class="card-body m-1">
                            <div class="col-12 doc-group1">
                                <h5 class="m-2 ">Hernia diafragmática congénita</h5>
                            </div>
                            <img src="../../../assets/img/hernia_diafragmatica.jpg" class="card-img-top mt-2" alt="...">
                            <!-- <h5 class="card-title">Hernia diafragmática congénita</h5> -->
                            <p class="card-text m-2 mt-3">Hernia diafragmática. Es una anomalía congénita en la cual hay una abertura anormal en el diafragma, el 
                                músculo entre el pecho y el abdomen que le ayuda a respirar. Esta abertura permite que parte de los órganos abdominales se 
                                muevan hasta la cavidad torácica cerca de los pulmones.</p>
                            <a href="https://www.webconsultas.com/search/node/hernia%20diafragmatica" target="_blank" class="btn btn-light float-right btn-sm ml-auto mr-3">Ver más...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-auto">
                    </div>
                    <div class="col">
                        <div class="card-body m-1">
                            <div class="col-12 doc-group1">
                                <h5 class="m-2 ">Sindrome o secuencia Pierre Robin</h5>
                            </div>
                            <img src="../../../assets/img/pierre_robin.jpg" class="card-img-top mt-2" alt="...">
                            <!-- <h5 class="card-title">Sindrome o secuencia Pierre Robin</h5> -->
                            <p class="card-text m-2 mt-3">Es una anomalía que se caracteriza por la triadade: micrognatia (mandíbula muy pequeña), 
                                glosoptosis (lengua cae hacia atrás y hacia abajo) y fisura del paladar blando.</p>
                            <a href="http://www.aamade.com/casos-clinicos/sindrome-de-pierre-robin.html" target="_blank" class="btn btn-light float-right btn-sm ml-auto mr-3">Ver más...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>