<section class="container-fluid">
    <h2 style="color: coral">¿Quiénes somos?</h2>
    <img class="photo" src="../../../assets/img/familiaOtrasMiradas.jpg" alt="familia">
    <p style="text-align:justify">Fundación Otras Miradas es una organización sin fines de lucro formada por un grupo de
        familias pertenecientes al programa PIE del Colegio Antártica Chilena de Vitacura</p>
    <div class="d-flex">
        <button class="btn btn-danger btn-sm ml-auto" type="button" style="color: white" routerLink="/about"
            routerLinkActive="active">Ver más...</button>
    </div>
</section>