<!-- <section class="container-fluid">
    <h2 style="color: coral">¿Quiénes somos?</h2>
    <img class="photo" src="../../../assets/img/familiaOtrasMiradas.jpg" alt="familia">
    <p style="text-align:justify">Fundación Otras Miradas es una organización sin fines de lucro formada por un grupo de
        familias pertenecientes al programa PIE del Colegio Antártica Chilena de Vitacura</p>
    <div class="d-flex">
        <button class="btn btn-danger btn-sm ml-auto" type="button" style="color: white" routerLink="/about"
            routerLinkActive="active">Ver más...</button>
    </div>
</section> -->
<div class="container"> 
 <div class="row">
  <div class="card">
    <div class="card-body">
     <h3>Encuentra Profesionales recomendados por nuestra comunidad</h3>
     <img  class="img-fluid float-left" width="150" src="https://i.ibb.co/pRpm5T1/doc.png" alt="doctor">
     <img  class="img-fluid float-right" width="150" src="https://i.ibb.co/3fTR6LJ/doct.png" alt="doctora">
    </div>
    <div class="text-align:center m-2">
        <button class="btn btn-primary btn-sm ml-auto" type="button" style="color: white" routerLink="/about" routerLinkActive="active">Ver más...</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
     <h3>Participa en Nuestros Talleres!!</h3>
     <img  class="img-fluid float-left my-4" width="600" src="https://i.ibb.co/FWnkVCH/activity.png" alt="doctor">
    </div>
    <div class="text-align:center m-2">
        <button class="btn btn-primary btn-sm ml-auto" type="button" style="color: white" routerLink="/about" routerLinkActive="active">Ver más...</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
     <h3>¿ Quiénes Somos ?</h3>
     <img  class="img-fluid float-left my-4" width="600" src="https://i.ibb.co/4Y8cg3v/family.jpg" alt="doctor">
    </div>
    <div class="text-align:center m-2">
        <button class="btn btn-primary btn-sm ml-auto" type="button" style="color: white" routerLink="/about" routerLinkActive="active">Ver más...</button>
    </div>
  </div>
 </div>
</div>