/* .photo {
    width: 300px;
    height:200px;
    display:block;
    margin:auto;
} */
.btn-light {
  border-top: solid rgba(0, 0, 0, 0.25);
  border-right: solid rgba(0, 0, 0, 0.25);
  border-bottom: solid rgba(0, 0, 0, 0.25);
  border-left: solid rgba(0, 0, 0, 0.25);
}
.h4 {
    color: #0000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: inherit;
  }
.h5 {
  color: rgba(151, 145, 145, 0.082);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}