<div class="container"> 
 <div class="row">
    <div class="card w-100 mt-3">
      <h4 class="m-3">Bienvenidos</h4>
      <div class="card-body mt-1 m-2">
        <h6> Fundación Otras Miradas, es una organización sin fines de lucro, formada por un grupo de familias pertenecientes al programa PIE (Programa de Integración Escolar), del Colegio Antártica Chilena de Vitacura.</h6>
      </div>
      <div class="text-align:center m-5 mr-5">
        <img  class="img-fluid float-center m-2 mr-10" width="500" src="https://i.ibb.co/4Y8cg3v/family.jpg" alt="familias"> 
      </div>
      <div class="text-align:center m-2">  
        <button class="btn btn-light  float-right btn-sm ml-auto mr-3" type="button" routerLink="/about" routerLinkActive="active">
          <h5 class="m-2">Ver más...</h5>
        </button>
      </div>
    </div>
  <div class="card w-100 mt-3">
    <div class="card-body mt-2 m-3">
     <h4>Encuentra Profesionales recomendados por nuestra comunidad. </h4>
     <img  class="img-fluid float-left m-3" width="100" src="https://i.ibb.co/pRpm5T1/doc.png" alt="doctor">
     <img  class="img-fluid float-left m-3" width="100" src="https://i.ibb.co/3fTR6LJ/doct.png" alt="doctora">
    </div>
    <div class="text-align:center m-2">
        <button class="btn btn-light float-right btn-sm ml-auto mr-3" type="button" routerLink="/contact" routerLinkActive="active">
          <h5 class="m-2">Ver más...</h5>
        </button>
    </div>
  </div>
  <div class="card w-100 mt-3">
    <div class="card-body mt-3 m-3">
     <h4>Participa en nuestros Talleres y Actividades!!</h4>
     <img  class="img-fluid float-left m-2" width="800" src="https://i.ibb.co/FWnkVCH/activity.png" alt="talleres">
    </div>
    <div class="text-align:center m-5 mr-5">
        <h6> Revisa la lista de Talleres o Actividades quer son impartidos por los integrantes de nuestra fundación.</h6>
     </div>
    <div class="text-align:center m-2">
        <button class="btn btn-light float-right btn-sm ml-auto mr-3" type="button" routerLink="/news" routerLinkActive="active">
          <h5 class="m-2">Ver más...</h5>
        </button>
    </div>
  </div>
 </div>
</div>