<nav class="navbar navbar-light bg-light" style="padding: 1%">
  <a class="navbar-brand mx-auto d-block text-center order-0 order-md-1" routerLink="/home" routerLinkActive="active">
    <img class="img-logo img-fluid" src="../assets/img/OMiradas-logo.png" alt="Logo Otras Miradas"></a>
  <div class="container-fluid">
    <div class="row">
      <button class="btn btn-warning rounded-0 col-6" type="button" style="color: white" routerLink="/news"
        routerLinkActive="active">Testimonios</button>
      <button class="btn btn-danger rounded-0 col-6" type="button" routerLink="/about" routerLinkActive="active">Sobre
        Nosotros</button>
      <button class="btn btn-primary rounded-0 my-1 col-6" type="button" routerLink="/contact"
        routerLinkActive="active">Sobre las NEE</button>
      <button class="btn btn-success rounded-0 my-1 col-6" type="button" routerLink="/news"
        routerLinkActive="active">Beneficios</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <div style="text-align:center">
  <h1> Welcome to {{ title }}! </h1>
</div>

<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/news" routerLinkActive="active">News</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
</nav> -->