.img-logo {
   max-width: 90%;
   max-height: 100px;
 }
 
 .navbar button {
   margin-bottom: 10px;
 }
 
 .h4 {
   color: #666666;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 30px;
 }
 
 .h7 {
   color: #0000;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: lighter;
 }
 
 .navbar {
   padding: 0;
 }

 .footer {
    padding: 0;
  }

 