<div class="professionals container text-align: justify ">
  <h3 class="text-left m-3"> Profesionales</h3>
  <p class="m-3 ">Aquí podrás encontrar información de profesionales recomendados por
    las familias de la fundación.</p>
  <div class="row" *ngFor="let a of areas">
    <div class="col-12 doc-group">      
      <p> {{a.especialidad}} </p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let p of a.doctores">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-auto">
              <img src="https://i.ibb.co/pRpm5T1/doc.png" class="card-img" alt="...">
            </div>
            <div class="col">
              <div class="card-body">
                <p class="card-text font-weight-bold">{{p.specialist}}</p>
                <p class="card-text">{{p.specialty}}</p>
                <p class="card-text">
                  {{p.workplace}}
                </p>
                <p class="card-text">
                  {{p.contact}}
                </p>
                <p class="card-text"><small class="text-muted">
                    {{p.insurance}}</small>
                </p>
                <p class="card-text">
                  {{p.reference}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>