<div class="professionals container text-align: justify ">
    <h3 class="text-left m-3"> Profesionales</h3>
    <p class="m-3">Aquí podrás encontrar información de profesionales para la atención de nuestros niños,recomendados por las familias de la fundación.</p>
  <div class="row">
      <div class="col-12 doc-group">
          <label for="specialty">Seleccione especilidad </label>
          <select class="form-control form-control" name="specialty" (change)="onChange($event)">
            <option value="Broncopulmonar">Broncopulmonar</option>
            <option value="Cirugía">Cirugía</option>
            <option value="Fisiatría">Fisiatría</option>
            <option value="Fonoaudiología">Fonoaudiología</option>
            <option value="Genética Clínica">Genética Clínica</option>
            <option value="Infectología">Infectología</option>
            <option value="Kinesiología">Kinesiología</option>
            <option value="Neurología">Neurología</option>
            <option value="Psicología">Psicología</option>
            <option value="Psicopedagogía">Psicopedagogía</option>
            <option value="Terapia Ocupacional">Terapia Ocupacional</option>
          </select>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let p of area">
          <div class="card">
              <div class="row no-gutters">
                  <div class="col-auto">
                      <img src="https://i.ibb.co/pRpm5T1/doc.png" class="card-img" alt="...">
                  </div>
                  <div class="col">
                      <div class="card-body">
                          <p class="card-text font-weight-bold">{{p.specialist}}</p>
                          <p class="card-text">{{p.specialty}}</p>
                          <p class="card-text">
                            {{p.workplace}}
                          </p>
                          <p class="card-text">
                              {{p.contact}}
                            </p>
                          <p class="card-text"><small class="text-muted">
                            {{p.insurance}}</small>
                          </p>
                          <p class="card-text">
                              {{p.reference}}
                            </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <!-- <div class="col-12 doc-group">
      Cirujano
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let professional of professionals">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="../../../assets/img/doct.png" class="card-img" alt="...">
          </div>
          <div class="col">
            <div class="card-body">
              <p class="card-text">{{professional.firstName}} {{professional.lastName}}</p>
              <p class="card-text">
                {{professional.workPlace}}
              </p>
              <p class="card-text"><small class="text-muted">
                {{professional.securityHealthSystem}}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
